.container {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  background-color: var(--white);
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  color: var(--black);
  width: 100%;
}
